{
  "singleQuote": true,
  "printWidth": 120,
  "editor.formatOnSave": true,
  "proseWrap": "always",
  "tabWidth": 4,
  "useTabs": true,
  "requireConfig": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true
}